<?xml version="1.0" encoding="utf-8" ?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://raw.github.com/sebastianbergmann/phpunit/master/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
>
    <php><!--
        <env name="PHPUNIT_HTTP_PROXY" value="http://192.2.3.4:1"/>
        <env name="PHPUNIT_CLIENT_ID" value="xxx"/>
        <env name="PHPUNIT_CLIENT_SECRET" value="xxx"/>
        
        <env name="PHPUNIT_URL_GET_OK" value="http://example.jp/" />
        <env name="PHPUNIT_URL_POST_OK" value="http://example.jp/" />
        <env name="PHPUNIT_URL_NOTFOUND" value="http://example.jp/"/>
        <env name="PHPUNIT_INVALID_PROXY" value="http://192.2.3.4:1"/>
    --></php>
    
    <testsuites>
        <testsuite name="tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    
    <filter>
        <whitelist>
        	<directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
